/* Default Theme */

a,
a > code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}

.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 90%;
}
.remark-code-line-highlighted {
  background-color: rgba(142, 158, 235, 0.452);
}

/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type,
.left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}
img,
video,
iframe {
  max-width: 100%;
}
blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}
.remark-slide table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.remark-slide table thead th {
  border-bottom: 1px solid #ddd;
}
th,
td {
  padding: 5px;
}
.remark-slide thead,
.remark-slide tfoot,
.remark-slide tr:nth-child(even) {
  background: #eee;
}

@page {
  margin: 0;
}
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}



/* Hinata Customizations */

/* Title Slide */
/* Thanks to @jvcasillas of Rutgers Theme */

.title-slide {
  /*background-image: url(""); /* delete comments and insert link of yours image
    background-size: 150px;
    background-position: 10% 20%; */
  background-color: rgb(230, 230, 230);
  color: #000000;
  text-shadow: none;
}

/* H1 fonts */
.title-slide h1 {
  color: rgb(50, 53, 85);
  padding-top: 100px;
  font-weight: bold;
  font-size: 50px;
  text-align: middle;
  text-shadow: none;
  padding-bottom: 80px;
  margin-bottom: 18px;
}

/* Title H2 fonts */
.title-slide h2 {
  color: #9b0014;
  font-size: 35px;
  font-weight: 500;
  text-align: middle;
  text-shadow: none;
  padding-top: 50px;
  margin-top: 0px;
}

/* Title H3 fonts */
.title-slide h3 {
  font-size: 28px;
  font-weight: normal;
  color: #9b0014;
  text-align: middle;
  text-shadow: none;
  padding-top: 0px;
}

/* Title H4 fonts */
.title-slide h4 {
  font-size: 18px;
  font-weight: normal;
  color: #515151;
  font-weight: 500;
  text-align: middle;
  text-shadow: none;
  padding-top: 0px;
}

/* Standard Slides */

h1,
h2,
h3 {
  color: rgb(100, 105, 165);
}

body {
  line-height: 25px;
}

/* section Slide */

.section {
  background-color: rgb(50, 53, 85);
  color: #ffffff;
  text-shadow: 0 0 10px #333;
}

.section h1,
.section h2,
.section h3 {
  color: rgb(230, 230, 230);
}

/* Final Slide */

.final-slide {
  background-image: url("../img/final_logo.svg");
  background-size: 250px;
  background-position: 50% 90%;
  background-color: #272822;
  color: #d6d6d6;
  text-shadow: 0 0 20px #333;
}

.final-slide h1,
.final-slide h2,
.final-slide h3 {
  color: #f3f3f3;
}

/* Custom Classes for Text */

.important {
  color: #da0622;
  font-weight: bold;
}

.blue {
  color: rgb(36, 36, 207);
  font-weight: bold;
}

/* Thanks to @yihui https://github.com/yihui/xaringan/wiki/Font-Size*/

.large {
  font-size: 130%;
}
.small {
  font-size: 70%;
}

.huge {
  font-size: 200%;
}

/* Thanks to @pat-s (Metropolis Theme) for the snippet https://github.com/gnab/remark/issues/298 */
.title-slide .remark-slide-number {
  display: none;
}

/* Code Blocks Background */
/* Thanks to @pat-s, @mschilli87 issue #242 https://github.com/yihui/xaringan/issues/242 */
/* Thanks to @dashed for the basic code https://gist.github.com/dashed/6714393 */
code.remark-code,
code.hljs.remark-code {
  font-size: medium;
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: rgb(32, 32, 32);
  background: #dbdbdb67;
  border: 0.5px solid rgba(160, 160, 160, 0.534);
  border-radius: 3px;
}

code.remark-inline-code {
  padding: 3px;
  color: rgb(32, 32, 32);
  background: #e2e2e267;
  border: 0.5px solid rgba(160, 160, 160, 0.534);
  font-size: medium;
  border-radius: 3px;
}

.remark-code-line {
  line-height: 20px;
}

li {
  line-height: 35px;
}